#akrikola {
    background-image: url("../images/paperi-tausta.png");
}

#akrikola-title {
    font-size: 1.8rem; /* Skaalattu suhteessa uuteen kokoon */
    position: absolute;
    bottom: 35.5rem; /* Sijoitus suhteutettuna containerin korkeuteen */
    left: 20rem; /* Sovitettu pienempään leveyteen */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #630000;
}

#title-text {
    position: absolute;
    left: 21rem; /* Siirretty vasemmalle uuteen tilaan */
    top: 2.5rem; /* Ylemmäs pienempään tilaan */
    font-size: 1.2rem; /* Skaalattu fonttikoko */
    color: #630000;
}

#introduction {
    font-size: 1.6rem; /* Skaalattu pienemmäksi */
    position: absolute;
    left: 20rem; /* Sovitettu vasemmalle */
    top: 6rem; /* Siirretty ylemmäs */
    color: #630000;
}

#introduction-text {
    position: absolute;
    left: 19.5rem; /* Siirretty vasemmalle */
    top: 9rem; /* Sovitettu ylemmäksi */
    text-align: left;
    font-size: 1rem; /* Skaalattu pienemmäksi */
    font-weight: bold;
    margin: 10px;
    color: #333333;
}

#early-stages {
    font-size: 1.6rem; /* Skaalattu pienemmäksi */
    position: absolute;
    left: 20rem; /* Sovitettu vasemmalle */
    top: 20rem; /* Siirretty ylemmäksi */
    color: #630000;
}

#early-stages-text {
    position: absolute;
    left: 19.5rem; /* Siirretty vasemmalle */
    top: 23rem; /* Ylemmäs suhteessa containerin kokoon */
    text-align: left;
    font-size: 1rem; /* Skaalattu pienemmäksi */
    font-weight: bold;
    margin: 10px;
    color: #333333;
}

#atchiements {
    font-size: 1.6rem; /* Skaalattu pienemmäksi */
    position: absolute;
    left: 2rem; /* Sovitettu vasemmalle */
    top: 18rem; /* Siirretty ylemmäksi */
    color: #630000;
}

#atchiements-list {
    position: absolute;
    right: 24rem; /* Siirretty oikealle uuteen mittasuhteeseen */
    top: 21rem; /* Siirretty ylemmäs */
    text-align: left;
    font-size: 1rem; /* Skaalattu pienemmäksi */
    font-weight: bold;
    color: #333333;
    max-width: 300px; /* Rajoittaa listan leveyttä, jotta se ei osu muihin elementteihin */
    word-wrap: break-word;
    
}

#atchiements-list li {
    margin-bottom: 4px; /* Pienempi marginaali listakohdille */
}

#atchiements-text {
    position: absolute;
    left: 2.5rem; /* Siirretty vasemmalle */
    top: 31rem; /* Ylemmäksi */
    text-align: left;
    font-size: 1rem; /* Skaalattu pienemmäksi */
    font-weight: bold;
    color: #333333;
    max-width: 300px; /* Rajoitettu leveys pienempään containeriin sopivaksi */
}


#mikael-agricola-kuva {
    width: 260px; /* Pienennetty kuva */
    height: 260px; /* Pienennetty kuva */
    position: absolute;
    right: 26rem; /* Oikealle sovitettu */
    top: 2rem; /* Siirretty ylemmäksi */
}

#endgame-button {

    position: absolute;
    left: 41rem;
    top: 0.5rem;
    width: 2rem;
    height: 2rem;
    background: red;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset rgba(10, 10, 10, .5) -2px -2px 0px, inset rgba(255, 255, 255, .8) 2.5px 2.5px 3px, rgba(10, 10, 10, .8) 0px 2px 8px;
    transition: background-color 0.3s, transform 0.2s ease-out, box-shadow 0.3s ease-out; 
    border-radius: 20px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#endgame-button:hover {
    box-shadow: inset rgba(10, 10, 10, .5) -2px -2px 0px, inset rgba(255, 255, 255, 0) 3px 3px 0px, rgba(10, 10, 10, .8) 0px 1px 10px -3px;
}
