#good-job {
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: #ffffff; /* Tekstin väri */
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), /* Vaalea varjo */
                 0px 0px 30px rgba(0, 0, 255, 0.4), /* Sininen varjo */
                 0px 0px 60px rgba(0, 0, 255, 0.2), /* Laajempi sininen varjo */
                 1px 1px 2px rgba(0, 0, 0, 0.7), /* Mustat ääriviivat */
                 -1px -1px 2px rgba(0, 0, 0, 0.7), /* Mustat ääriviivat */
                 1px -1px 2px rgba(0, 0, 0, 0.7), /* Mustat ääriviivat */
                 -1px 1px 2px rgba(0, 0, 0, 0.7); /* Mustat ääriviivat */
}

#background-image {
    position: fixed; /* Käytä fixed-asetusta, jotta kuva pysyy paikallaan, vaikka käyttäjä vierittää sivua */
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 70%;
    object-fit: cover; /* Varmistaa, että kuva täyttää koko alueen säilyttäen kuvasuhteen */
    z-index: 0; /* Varmistaa, että kuva on taustalla */
}

#game-ending-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 998;
}

#game-ending-animation img {
    width: 90vw;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: playAnimation 9s ease-in-out forwards;
}



@keyframes playAnimation {
    0% {
        opacity: 1; /* Alkaa täysin näkyvänä */
    }
    50% {
        opacity: 1; /* Pysyy näkyvänä ensimmäiset 50% ajasta */
    }
    65% {
        opacity: 0; /* Häivy kokonaan aikaisemmin */
    }
    100% {
        opacity: 0; /* Pysyy näkymättömänä lopun ajan */
    }
}

#akrikola-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 5rem;
    font-size: 25px;
    background-color: #FFFACD; /* Kuunvalkoinen tausta */
    color: #333333; /* Tumma teksti kontrastina */
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 204, 0.8), /* Pehmeä keltainen hohde */
                0 0 30px rgba(255, 255, 204, 0.6),
                0 0 60px rgba(255, 255, 255, 0.4),
                0 0 100px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-align: center;
    line-height: 5rem;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Tumma varjostus tekstille */
    z-index: 999;
}

#akrikola-button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1), 
                0 0 40px rgba(255, 255, 255, 0.8), 
                0 0 80px rgba(255, 255, 255, 0.6), 
                0 0 120px rgba(255, 255, 255, 0.4);
    color: #FFF; /* Teksti muuttuu valkoiseksi hoverissa */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Jatkuva varjostus hoverissakin */
}


#game-ending {
    background-image: url("../images/taustan-yö-versio.png");
}