.container {
    /* käytin remiä koska se on toimii paremmin responsiivisessa sivussa*/
    width: 43.75rem; /* 700 px */
    height: 40.625rem; /* 650 px */
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    font-size: small;
    
}

section {
    width: 43.75rem; /* 700 px */
    height: 40.625rem; /* 650 px */
    background-size: cover;
    background-position: center;
}

.lumpeenlehti {
    width: 95px; /* Mukautettu koko suhteessa containerin kokoon */
    height: 100px;
    background-image: url('../images/lumpeenlehti.png');
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: left 0.5s ease, top 0.5s ease;
}



#lumpeenlehti-toinenversio {
    background-image: url('../images/lumpeenlehti-toinenversio.png');
}

#lumpeenlehti-toinenversio .kirjain {
    top: 30%;
}

#lempeenlehti-kolmasversio {
    background-image: url('../images/lumpeenlehti-kolmasversio.png');
}

#lempeenlehti-kolmasversio .kirjain {
    top: 25%;
}

.kirjain {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #0f4908af;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 2px 2px 2px rgba(206,89,55,0);
}

.letter-container {
    width: 99%;
    height: 110px; /* Mukautettu korkeus */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#page-a-e  {
    background-image: url("../images/tausta-auringolla.png");
}

#page-f-j  {
    background-image: url("../images/tausta-auringolla.png");
}

#page-k-o {
    background-image: url("../images/Pelin-tausta.png");
}

#page-p-t {
    background-image: url("../images/Pelin-tausta.png");
}

#page-u-y {
    background-image: url("../images/Pelin-tausta.png");
}

#page-z-ö {
    background-image: url("../images/taustan-yö-versio.png");
}


