.container {
    /* käytin remiä koska se on toimii paremmin responsiivisessa sivussa*/
    width: 59.375rem; /* tämä on 950 px*/
    height: 43.75rem; /* tämä on 700px*/
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    font-size: small;
    background-image: url("../images/Pelin-tausta.png");
}

.lumpeenlehti {
    width: 130px;
    height: 139px;
    background-image: url('../images/lumpeenlehti.png');
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.kirjain {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: #0f4908af;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 2px 2px 2px rgba(206,89,55,0);
}

.letter-container {
    width: 99%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black; /* Reunaviiva, jotta näet containerin koon */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
